*{
    background-color:beige;
    color:rgb(58, 57, 57);
}

h1{
    text-align: center;
    text-decoration-line: underline;
}

div{
    text-align:center
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin: 10px;
    display: inline;

}