*{
    background-color:beige;
    color:rgb(56, 56, 56);
    
}

h1, h2{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p{
    padding: 20px
}

li{
    padding: 5px 0
}

h3, h4{
    margin-left: 5px
}